.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

body {
  margin: 0;
  padding: 0; }

.header-wrap {
  background: #fff; }

.header-container {
  padding: 20px; }

.brand {
  float: left;
  display: block;
  width: 9.5%;
  margin-right: 117px; }

.containerSearchFormDesign {
  display: inline-block;
  width: 478px;
  height: 48px;
  margin-right: 122px;
  background: #f0f0f0;
  border: 1px solid #e0e0e0;
  border-radius: 50px; }
  .containerSearchFormDesign .searchFormDesignSubmit {
    float: left;
    margin: 12px 20px;
    position: relative;
    cursor: pointer; }
    .containerSearchFormDesign .searchFormDesignSubmit:before {
      position: absolute;
      content: "";
      width: 1px;
      height: 44px;
      top: -10px;
      right: -15px;
      border-right: 1px solid #adadad; }
    .containerSearchFormDesign .searchFormDesignSubmit .fa {
      color: #adadad;
      font-size: 25px; }
  .containerSearchFormDesign .searchFormDesignSearchTerms {
    float: left;
    width: 83.80%;
    height: 46px;
    margin-top: 0;
    padding-left: 13px;
    background: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #adadad;
    font-weight: 300;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; }
    .containerSearchFormDesign .searchFormDesignSearchTerms:focus {
      outline: 0; }
