@import "app";


//	 __  __ _____  _____ _   _ ____
//	|  \/  |_ _\ \/ /_ _| \ | / ___|
//	| |\/| || | \  / | ||  \| \___ \
//	| |  | || | /  \ | || |\  |___) |
//	|_|  |_|___/_/\_\___|_| \_|____/
//

.clearfix {
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

$font-Roboto: 'Roboto', sans-serif;

//	 ____    _    ____  _____   ____ _______   ___     _____ ____
//	| __ )  / \  / ___|| ____| / ___|_   _\ \ / / |   | ____/ ___|
//	|  _ \ / _ \ \___ \|  _|   \___ \ | |  \ V /| |   |  _| \___ \
//	| |_) / ___ \ ___) | |___   ___) || |   | | | |___| |___ ___) |
//	|____/_/   \_\____/|_____| |____/ |_|   |_| |_____|_____|____/
//



//	 ____  _____ _____ _   _   _ _   _____   ____ _______   ___     _____ ____
//	|  _ \| ____|  ___/ \ | | | | | |_   _| / ___|_   _\ \ / / |   | ____/ ___|
//	| | | |  _| | |_ / _ \| | | | |   | |   \___ \ | |  \ V /| |   |  _| \___ \
//	| |_| | |___|  _/ ___ \ |_| | |___| |    ___) || |   | | | |___| |___ ___) |
//	|____/|_____|_|/_/   \_\___/|_____|_|   |____/ |_|   |_| |_____|_____|____/
//
//
body{
	margin: 0;
	padding: 0;
}
.header-wrap{
	background: #fff;
}
.header-container{
	padding: 20px;
}
.brand{
	float: left;
	display: block;
	width: 9.5%;
	margin-right: 117px;
}
.containerSearchFormDesign{
	display: inline-block;
	width: 478px;
	height: 48px;
	margin-right: 122px;
	background: #f0f0f0;
	border: 1px solid #e0e0e0;
	border-radius: 50px;
	.searchFormDesignSubmit{
	    float: left;
   		margin: 12px 20px;
   		position: relative;
   		cursor:pointer;
   		&:before{
   			position: absolute;
   			content: "";
   			width: 1px;
   			height: 44px;
		    top: -10px;
		    right: -15px;
   			border-right: 1px solid #adadad;
   		}
   		.fa{
   			color: #adadad;
    		font-size: 25px;
   		}
	}
	.searchFormDesignSearchTerms{
   		float: left;
	    width: 83.80%;
	    height: 46px;
	    margin-top: 0;
	    padding-left: 13px;
		background: none;
	    border: none;
	    font-family: $font-Roboto;
	    font-size: 20px;
	    color: #adadad;
	    font-weight: 300;
	    border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
		&:focus{
			outline: 0;
		}
	}
}

